table, td{
    border: 1px solid rgba(196, 21, 88, 0.76);
    border-spacing: 5px;
}

td{
    width: 80px;
    height: 80px;
    background-color: lightseagreen;
}

#alt{
    height: 30px;
}

#larg{
    width: 100px;
}